body {
    margin:0;
    padding:0;
    font-family: 'Lato', sans-serif;
}
@media only screen and (min-width: 800px) {
    .container {
        width:100%;
        justify-content: center;
    }

    .box {
        display: flex;
        flex-direction: column;
        width:100%;
        justify-content: flex-start;
    }

    section {
        display: flex;
        flex-direction: row;
        gap:20px;
      }

      .blurb {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 800px;
      }

      .item {
        display: flex;
        flex-direction: column;
        gap:20px;
        font-size: 26px;
        
      }

      .blurb img {
        width: 600px;
        display: flex;
        justify-content: center;
      }

        .article {
            display: flex;
            flex-direction: row;
            gap:10px;
            font-size: 26px; 
        }
        .title {
            align-items: center;
            justify-content: center;
            gap:20px;
            display: flex;
            font-size: 12px;
        }

        nav {
            display: flex;
            flex-direction: row;
            gap:20px;
        }
        .navbox {
            width:100%;
            background-color: #60A0DC;
            display: flex;
            justify-content: flex-end;
        }
        
    }


    .item img {
        width:800px;
    }

    .blurb img {
        display: flex;
        width: 100%;
    }

hr {
    color: black;
    line-height: 5px;
}

.container {
    width:100%;
    background-color: #f9f9f9;
    font-family: 'Lato', sans-serif;
    
}

.item {
    width:100%;
    font-weight: 100;
    align-items: center;
    justify-content: center;
    gap:20px;
}

.blurb {
    width:100%;
    font-weight: 100;
    background-color: #F4F4F4;
    padding: 20px;
    margin-bottom: 20px;
    transform: scale(1.00);
    opacity: 0.7;
    transition: opacity 0.4s, transform 0.4s;
    box-shadow: 5px 10px 18px #888888;

}


.blurb:hover {
    transform: scale(1.03);
    opacity: 1; 
}

.box {
    background-color: white;
    width:80%;
    margin:auto;
    align-items: center;
    justify-content: center;
}

section {
    padding: 20px;
    align-content: center;
    gap:20px;
    }

section h2 {
    color:grey;
    font-size: 30px;
    text-align: center;
}

section h1 {
    color:black;
    font-size: 40px;
    text-align: center;

}

section p {
    font-size: 20px;
}

.browse {
    width:100%;
    font-weight: 100;
    padding: 20px;
    border-radius: 5px 5px;
    background-image: url('../images/sparkslight.png');
background-size: cover;
background-position: center;
}

.browse h1 {
    color:white;
}

.border {
    width:100%;
    display: flex;
    align-items: center;

}

.navbox {
    width:100%;
    background-color: #60A0DC;

}

    .logoheader {
        width:100%;
        display:flex;
        justify-content: flex-start;
    }
.logoheader, h1 {
    color:black;
    font-size: 36px;
}

.headerlogo {
    display: flex;
    flex-direction: row;
    gap:20px;
    font-size: 26px;
}
nav {
    gap:20px;
    font-size: 20px;
}
    nav a {
        color:white;
        font-weight: 500;
        font-style: normal;
        margin:30px;
        text-decoration: underline;
      }

      .moreinfo {
        border: #60A0DC 1px solid;
        padding:20px;
        color: #60A0DC;
    }
    
    .moreinfo:hover {
        background-color: #60A0DC;
        color:white;
        text-decoration: underline;
    }
    .headline {
        width:100%;
        display:flex;
        justify-content: flex-start;
        flex-direction: row;
        background-image: url('../images/Rectangle27.svg');
        background-position: 0;
        background-size: cover;
        margin:0;
        font-size: 36px;

    }

    .titlepage {
        width:100%;
        display:flex;
        justify-content: center;
        flex-direction: row;
        background-color: #f1f1f1;
        background-position: 40px;
        background-size: cover;
        margin:0;
        margin-top: 20px;
        padding: 20px;
        font-size: 14px;
        height: 400px;
    }

    .headline img {
        width: 200px;
    }
.article {
    width:100%;
    font-weight: 100;
    align-items: center;
    gap:20px;
    -webkit-animation: slideIn 2s forwards;
    -moz-animation: slideIn 2s forwards;
    animation: slideIn 2s forwards;
  }
  @-webkit-keyframes slideIn {
    0% {
      transform: translateX(-900px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @-moz-keyframes slideIn {
    0% {
      transform: translateX(-900px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes slideIn {
    0% {
      transform: translateX(-900px);
    }
    100% {
      transform: translateX(0);
    }
  }

  .footerbox {
    width:100%;
    display:flex;
    align-items: center;
    background-color: #6C6969;
    flex-direction: column;
    gap:20px;
    padding:20px;
}

footer {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    gap:30px;
    color:white;
    align-items: center;
    justify-content: center;
}

footer a {
    color: #f1f1f1;
    text-decoration: none;
    margin:px;
}
footer a:hover {
color:#aeaeae;
text-decoration: underline;
}
footer img {
    width: 20px;
}